body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* linke Spalte kleiner, rechte größer */
  gap: 5px 15px; /* Zeilen- und Spaltenabstand */
}

.grid-container p {
  margin: 0;
  align-self: center; /* vertikal mittig */
}

input[type="text"],
input[type="number"] {
  width: 60%;
  transform: translateX(60%);
  padding: 2px;
  box-sizing: border-box;
  height: 2.4rem;
  font-size: 1.5rem;
  border: 2px black solid;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px black solid;
  color: black;
  border-radius: 5px;

  background-color: rgb(238, 212, 194);
}
p {
  font-size: 2.3rem;
}

#deleteBtn {
  background-color: rgb(221, 152, 152);
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; 
    gap: 0px 15px;
  } 
  p {
    transform: translateY(44px);
    font-size: 2rem;
  }
  .grid-container p {
  transform: translateY(38.3px); /* 5px nach oben */
  margin: 0;
  align-self: center;
}
}

h1 {
  margin-bottom: 10px;
}
.down {
  margin-top: 100px;
}
#result {
  transform: translateY(60px);
  border: 2px black solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgb(206, 233, 206);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}